.block {
    width: 200px;
    height: 200px;
}
.block i {
    position: relative;
    bottom: 40px;
    left: 90px;
    font-size: 150px;
    color: black;
}
.icon img {
    border-radius: 150px;
}
.data {
    width: 760px;
    height: 200px;
}
a.btn-outline-secondary {
    float: right;
}