.carousel {
    top: 20px;
}

.carousel-item {
    height: auto;
    position: relative;
    padding-top: 56.25%;
}

.carousel-item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.btn-outline-success {
    width: 200px;
}