.card {
    max-width: 630px;
}
img {
    border-radius: 150px;
}
.bi-eye {
    position: relative;
    bottom: 8px;
    font-size: 25px;
}
.bi-eye-slash {
    position: relative;
    bottom: 8px;
    font-size: 25px;
}