{% extends "base.html" %}
{% block content %}
<link href="../static/css/account.css" rel="stylesheet" type="text/css"/>
<div class="container my-4">
    <div class="btn-group-vertical">
        <a href="/account/settings" class="btn btn-outline-secondary">
            <i class="bi-pencil"></i>
            Изменить
        </a>
        <a href="/logout" class="btn btn-outline-secondary my-2">
            Выход
        </a>
    </div>
    <div class="row">
        <div class="block">
            <div class="icon">
                <div class="col-md-4 col-sm">
                    {% if current_user.icon %}
                        <img src="../static/img/users/150px/{{ current_user.email }}.{{ current_user.icon }}"
                             alt="" class="my-3">
                    {% else %}
                        <img src="static/img/templates/png/default.png" alt=""></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="data">
                <div class="col-md-4 col-sm">
                    <h3>
                        {{ current_user.surname }} {{ current_user.name }} {{ current_user.age }}
                    </h3>
                    <h3>
                        {{ current_user.patronymic }}
                    </h3>
                    <h3>
                        Номер телефона: {{ current_user.number_phone }}
                    </h3>
                    <h3 class="my">
                        {{ current_user.email }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}