{% extends "base.html" %}
{% block content %}
<link href="../static/css/gallery.css" rel="stylesheet" type="text/css"/>
<center>
    <div class="container my-4">
        <div class="row">
            {% for photo in photos %}
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="block my-5">
                        <div class="wrapper">
                            <img src="../static/img/templates/{{ photo }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</center>
{% endblock %}