{% extends "base.html" %}
{% block content %}
<link href="../static/css/index.css" rel="stylesheet" type="text/css"/>
<div class="carousel slide" id="carouselControls" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/img/templates/other/1.jpeg">
        </div>
        <div class="carousel-item">
            <img src="../static/img/templates/other/2.jpeg">
        </div>
        <div class="carousel-item">
            <img src="../static/img/templates/other/3.jpeg">
        </div>
    </div>
    <a href="#carouselControls" class="carousel-control-prev" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#carouselControls" class="carousel-control-next" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <a href="#carouselControls" class="carousel-control-next" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="container my-5">
    <div class="row gy-5">
        <div class="col-md-3 col-sm text-center">
            <a href="/menu" class="btn btn-outline-success">Меню</a>
        </div>
        <div class="col-md-3 col-sm text-center">
            <a href="/buy" class="btn btn-outline-success">Корзина</a>
        </div>
        <div class="col-md-3 col-sm text-center">
            <a href="/location" class="btn btn-outline-success">Месторасположение</a>
        </div>
        <div class="col-md-3 col-sm text-center">
            <a href="/gallery" class="btn btn-outline-success">Галерея</a>
        </div>
    </div>
</div>
{% endblock %}